.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 433px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D6FDD6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 464px;
	margin-left: auto;
	margin-right: auto;
}

#u175
{
	z-index: 6;
	width: 376px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 328px;
}

#u163
{
	z-index: 7;
	width: 376px;
	position: relative;
	margin-right: -10000px;
}

#u157
{
	z-index: 8;
	width: 376px;
	position: relative;
	margin-right: -10000px;
}

#u149
{
	z-index: 9;
	width: 376px;
	border-style: none;
	border-color: transparent;
	background-color: #D0E9D0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u151
{
	z-index: 10;
	width: 329px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 150px;
}

#u158
{
	z-index: 12;
	width: 375px;
	border-style: none;
	border-color: transparent;
	background-color: #BBE6BB;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u160-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	width: 92px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u164
{
	z-index: 17;
	width: 64px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 20px;
}

#u166
{
	z-index: 18;
	width: 77px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 20px;
}

#u168-4
{
	z-index: 19;
	width: 178px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 59px;
}

#u169
{
	z-index: 23;
	width: 152px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 98px;
}

#u171
{
	z-index: 24;
	width: 152px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 98px;
}

#u173
{
	z-index: 25;
	width: 152px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 84px;
}

#u142-4
{
	z-index: 2;
	width: 304px;
	margin-right: -10000px;
	left: 803px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

