root { 
    display: block;
}

#votaciones{
    
     color:#fff;
     text-shadow: 0.2em 0.2em 0.3em black;
     font-family: Simply Complicated,Arial;
}

#votaciones table{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    border:2px dotted #7D9926;
    /*background-color: #7D9926;*/   
}
#votaciones table tr .inf{
   border-top:2px dotted #648500; 
}
#votaciones table td{
   text-align: center;
}

a:link {text-decoration:none; color: #99CC00;} /* Link no visitado*/
a:visited {text-decoration:none; color:#99CC66} /*Link visitado*/
a:active {text-decoration:none; color:#99FF00; background:#EEEEEE} /*Link activo*/
a:hover {text-decoration:underline; color:#99FF00;} /*Mause sobre el link*/


