.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1100px;
	min-height: 182px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D6FDD6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 715px;
	margin-left: auto;
	margin-right: auto;
}

#u142-4
{
	z-index: 2;
	width: 304px;
	margin-right: -10000px;
	left: 803px;
}

#menuu188
{
	z-index: 6;
	width: 900px;
	margin-right: -10000px;
	margin-top: 132px;
	left: 100px;
}

#u269
{
	width: 82px;
	min-height: 50px;
	margin-right: -10000px;
}

#u270
{
	width: 82px;
	padding-bottom: 24px;
}

#u270:hover
{
	margin: 0px;
}

#u272-3
{
	width: 1px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 38px;
}

#u276
{
	width: 256px;
	min-height: 50px;
	margin-right: -10000px;
	left: 84px;
}

#u279
{
	width: 256px;
	padding-bottom: 24px;
}

#u270.MuseMenuActive,#u279:hover
{
	margin: 0px;
}

#u282-4
{
	width: 175px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 38px;
}

#u346
{
	width: 233px;
	min-height: 50px;
	margin-right: -10000px;
	left: 342px;
}

#u347
{
	width: 233px;
	padding-bottom: 24px;
}

#u279.MuseMenuActive,#u347:hover
{
	margin: 0px;
}

#u348-4
{
	width: 152px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 38px;
}

#u310
{
	width: 161px;
	min-height: 50px;
	margin-right: -10000px;
	left: 577px;
}

#u313
{
	width: 161px;
	padding-bottom: 24px;
}

#u347.MuseMenuActive,#u313:hover
{
	margin: 0px;
}

#u314-4
{
	width: 81px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 38px;
}

#u317
{
	width: 160px;
	min-height: 50px;
	margin-right: -10000px;
	left: 740px;
}

#u320
{
	width: 160px;
	padding-bottom: 24px;
}

#u313.MuseMenuActive,#u320:hover
{
	margin: 0px;
}

#u320.MuseMenuActive
{
	margin: 0px;
}

#u321-4
{
	width: 80px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 12px;
	left: 38px;
}

#u329
{
	z-index: 36;
	width: 47px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 120px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
        
}

#page .verticalspacer
{
	clear: both;
}


table{
    position: absolute;
    top: 75%;
    left: 40%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    border:2px dotted #7D9926;
    font-family: Simply Complicated,Arial;
    /*background-color: #7D9926;*/   
}
table tr .inf{
   border-top:2px dotted #648500; 
   font-size: 20px;
   padding-bottom: 6px;
   padding-top: 6px;
   
}
table td{
   text-align: center;
}

h1{
    text-shadow: 0.2em 0.2em 0.2em #063;
    color:#000;
    font-family: Simply Complicated,Arial;
    font-size: 30px;
}

table a:link {text-decoration:none; color: rgb(79, 143, 48);} /* Link no visitado*/
table a:visited {text-decoration:none; color:rgb(127, 209, 166)} /*Link visitado*/
table a:active {text-decoration:none; color:#99FF00; background:#EEE} /*Link activo*/
table a:hover {text-decoration:underline; color:#000;} /*Mause sobre el link*/

.candidatos
{
    margin: 0 auto;
    height: 200px;
    width: 50%;
    border:2px dotted #648500;
    margin-top: -100px;
    overflow: scroll;
    background: #7FD1A6;
    
}
.optionpar,.optionimpar{
    float: left;
    height: 100px;
    width: 49%;
    text-align: center;
    border: 1px solid #648500;
}




